@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

:root {
  --font-josefin: 'Josefin Sans', sans-serif;

  --white: hsl(0, 0%, 98%);
  --primary-300: hsl(235, 19%, 35%);
  --primary-500: hsl(236, 9%, 61%);
  --primary-700: hsl(233, 11%, 84%);
  --primary-900: hsl(236, 33%, 92%);
}
